<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">
  <div class="content-page">
    <div class="header-info-2">
      <div class="card-header">
        <div class="card-title">Exclusão de departamento</div>
        <div (click)="goToListDepartamentos()" class="card-menu">Voltar para listagem de departamentos</div>
      </div>

      <div class="card-title">Tem certeza que deseja excluir este departamento ({{ departamento?.Nome }})?</div>
      <input type="submit" value="Excluir" (click)="deleteDepartamento()" class="btn-warn" />
    </div>
  </div>
</div>
