<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">
  <div class="content-page">
    <div class="card-header">
      <div class="card-title">{{ tipoTela === 1 ? 'Cadastro de Departamento' : 'Edição de Departamento' }}</div>
      <div (click)="goToListDepartamentos()" class="card-menu">Listagem de Departamentos</div>
    </div>

    <form class="form-page" [formGroup]="departamentoForm" (submit)="enviar()">
      <div class="row">
        <div class="group-row">
          <label>Nome do departamento</label>
          <input type="text" name="name" id="name" placeholder="Nome" formControlName="name" required />
          <label class="error-input" *ngIf="departamentoForm.get('name')?.errors?.['required'] &&
                    departamentoForm.get('name')?.pristine">
            Campo Obrigatório!
          </label>
        </div>
      </div>

      <div class="row">
        <div class="group-row">
          <input type="submit" [disabled]="departamentoForm.invalid" value="Salvar" class="btn-primary" />
        </div>
      </div>
    </form>
  </div>
</div>
