<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">
  <div class="content-page">
    <div class="header-info-2">
      <div class="card-header">
        <div class="card-title">Listagem de Funcionários</div>
        <div (click)="goToAddPage()" class="card-menu">Cadastro de Funcionários</div>
      </div>

      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <td>Código</td>
            <td>Nome</td>
            <td>Matrícula</td>
            <td>Ação</td>
          </tr>
        </thead>
        <tbody>
          <tr class="select-item" *ngFor="let item of tableListFuncionarios | paginate: config; let i = index"
            class="linha-table" [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">
            <td>{{item.Id}}</td>
            <td>{{item.Nome}}</td>
            <td>{{item.Matricula}}</td>
            <td><input type="submit" value="Editar" (click)="goToEditPage(item.Id)" class="btn-primary" /></td>
          </tr>
        </tbody>
      </table>

      <div class="tabela-footer" *ngIf="paginacao && tableListFuncionarios">
        <label class="mostrar">Mostrar</label>
        <ng-select (change)="mudarItemsPorPage()" [(ngModel)]="itemsPorPagina" [clearable]="false" [searchable]="false"
          class="mostrar-drop">
          <ng-option [value]="10">10</ng-option>
          <ng-option [value]="50">50</ng-option>
          <ng-option [value]="100">100</ng-option>
        </ng-select>

        <div class="container-pagination">
          <pagination-controls id="{{this.id}}" previousLabel="Anterior" nextLabel="Próximo" [responsive]="true"
            (pageChange)="mudarPage($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
